In [0]:
from pyspark.sql.functions import col, lit

In [0]:
# File location and type
file_location = "/FileStore/tables/Data.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","


# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

df.show()

+---+-----+---+
| Id| Name|Age|
+---+-----+---+
|  1|Nitin| 25|
|  2|Surya| 26|
|  3| Ravi| 23|
+---+-----+---+

>####1. withColumn() & lit

In [0]:
# PySpark lit() function is used to add a constant value(default value) to a DataFrame column

df =  df.withColumn('Country', lit("India"))

df.show()

+---+-----+---+-------+
| Id| Name|Age|Country|
+---+-----+---+-------+
|  1|Nitin| 25|  India|
|  2|Surya| 26|  India|
|  3| Ravi| 23|  India|
+---+-----+---+-------+

>####2. withColumn() & col

In [0]:
df =  df.withColumn('Salary', col("Id") * col("Age"))

df.show()

+---+-----+---+-------+------+
| Id| Name|Age|Country|Salary|
+---+-----+---+-------+------+
|  1|Nitin| 25|  India|    25|
|  2|Surya| 26|  India|    52|
|  3| Ravi| 23|  India|    69|
+---+-----+---+-------+------+

In [0]:
# Merging multiple Columns

df =  df.withColumn('Salary', col("Id") * col("Age")).withColumn('Country', lit("India"))

df.show()

+---+-----+---+-------+------+
| Id| Name|Age|Country|Salary|
+---+-----+---+-------+------+
|  1|Nitin| 25|  India|    25|
|  2|Surya| 26|  India|    52|
|  3| Ravi| 23|  India|    69|
+---+-----+---+-------+------+

>####3. select() & lit, col, alias

In [0]:
df = df.select(lit('India').alias('Country'))

df.show()

+-------+
|Country|
+-------+
|  India|
|  India|
|  India|
+-------+

In [0]:
df = df.select(col('Id'), col('Name'), col('Age'), lit('India').alias('Country'))

df.show()

+---+-----+---+-------+
| Id| Name|Age|Country|
+---+-----+---+-------+
|  1|Nitin| 25|  India|
|  2|Surya| 26|  India|
|  3| Ravi| 23|  India|
+---+-----+---+-------+