In [0]:
from pyspark.sql.functions import col, lit

# File location and type
file_location = "/FileStore/tables/Data.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","


# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

df =  df.withColumn('Salary', col("Id") * col("Age")).withColumn('Country', lit("India"))

df.show()

+---+-----+---+------+-------+
| Id| Name|Age|Salary|Country|
+---+-----+---+------+-------+
|  1|Nitin| 25|    25|  India|
|  2|Surya| 26|    52|  India|
|  3| Ravi| 23|    69|  India|
+---+-----+---+------+-------+

In [0]:
# filter columns where Id is 1

df.filter(df.Id==1).show()

df.filter(col('Id') == 1).show()

+---+-----+---+------+-------+
| Id| Name|Age|Salary|Country|
+---+-----+---+------+-------+
|  1|Nitin| 25|    25|  India|
+---+-----+---+------+-------+

+---+-----+---+------+-------+
| Id| Name|Age|Salary|Country|
+---+-----+---+------+-------+
|  1|Nitin| 25|    25|  India|
+---+-----+---+------+-------+

In [0]:
# Filter for multiple cases

df.filter((col('Id') == 1) | (col('Age') > 24)).show()

+---+-----+---+------+-------+
| Id| Name|Age|Salary|Country|
+---+-----+---+------+-------+
|  1|Nitin| 25|    25|  India|
|  2|Surya| 26|    52|  India|
+---+-----+---+------+-------+

In [0]:
df.filter((col('Id') == 1) & (col('Age') > 24)).show()

+---+-----+---+------+-------+
| Id| Name|Age|Salary|Country|
+---+-----+---+------+-------+
|  1|Nitin| 25|    25|  India|
+---+-----+---+------+-------+