In [0]:
from pyspark.sql.functions import col, lit

# File location and type
file_location = "/FileStore/tables/Data.csv"
file_type = "csv"

# CSV options
infer_schema = "true"
first_row_is_header = "true"
delimiter = ","


# The applied options are for CSV files. For other file types, these will be ignored.
df = spark.read.format(file_type) \
  .option("inferSchema", infer_schema) \
  .option("header", first_row_is_header) \
  .option("sep", delimiter) \
  .load(file_location)

df =  df.withColumn('Salary', col("Id") * col("Age")).withColumn('Country', lit("India"))

df.show()

+---+-----+---+------+-------+
| Id| Name|Age|Salary|Country|
+---+-----+---+------+-------+
|  1|Nitin| 25|    25|  India|
|  2|Surya| 26|    52|  India|
|  3| Ravi| 23|    69|  India|
+---+-----+---+------+-------+

#### 1. Using Sort function

In [0]:
# Sort is ASC by default

df.sort(df.Age).show()

+---+-----+---+------+-------+
| Id| Name|Age|Salary|Country|
+---+-----+---+------+-------+
|  3| Ravi| 23|    69|  India|
|  1|Nitin| 25|    25|  India|
|  2|Surya| 26|    52|  India|
+---+-----+---+------+-------+

In [0]:
df.sort(df.Age.desc()).show()

+---+-----+---+------+-------+
| Id| Name|Age|Salary|Country|
+---+-----+---+------+-------+
|  2|Surya| 26|    52|  India|
|  1|Nitin| 25|    25|  India|
|  3| Ravi| 23|    69|  India|
+---+-----+---+------+-------+

In [0]:
# Sort for multiple columns

df.sort(df.Name.asc(), df.Age.desc()).show()

+---+-----+---+------+-------+
| Id| Name|Age|Salary|Country|
+---+-----+---+------+-------+
|  1|Nitin| 25|    25|  India|
|  3| Ravi| 23|    69|  India|
|  2|Surya| 26|    52|  India|
+---+-----+---+------+-------+

#### 2. Using OrderBy function

In [0]:
df.orderBy(df.Age).show()

+---+-----+---+------+-------+
| Id| Name|Age|Salary|Country|
+---+-----+---+------+-------+
|  3| Ravi| 23|    69|  India|
|  1|Nitin| 25|    25|  India|
|  2|Surya| 26|    52|  India|
+---+-----+---+------+-------+

In [0]:
df.orderBy(df.Age.desc()).show()

+---+-----+---+------+-------+
| Id| Name|Age|Salary|Country|
+---+-----+---+------+-------+
|  2|Surya| 26|    52|  India|
|  1|Nitin| 25|    25|  India|
|  3| Ravi| 23|    69|  India|
+---+-----+---+------+-------+